html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --font-sans: 'IBM Plex Sans', system-ui,sans-serif;
    --font-mono: 'IBM Plex Mono', 'Menlo', monospace;

    /* default light-mode colors */
    --foreground-default: #222;
    --foreground-light: #555;
    --background-default: #f8f8f8;
    --background-block: #eee;
    --background-hero: #222;
}

.inverted,
.type-page header {
    --foreground-default: #f8f8f8;
    --foreground-light: #d8d8d8;
    --background-default: #222;
    --background-block: #555;
    --background-hero: #eee;
}

body {
    font-family: var(--font-sans);
    color: var(--foreground-default);
    background: var(--background-default);

    min-height: 100vh;
    border-bottom: 4px solid var(--foreground-default);
}

/* bit of a hack for this special case */
body.type-page {
    background: #222;
}
header,
main,
footer {
    background: var(--background-default);
}

a {
    color: var(--foreground-default)
}

.overlay {
    max-width: unset;
    width: calc(100% - 32px);
    margin-left: auto;
    margin-right: auto;
}

/* TYPOGRAPHY */

h1,
h2,
h3 {
    line-height: 1.2em;
    color: var(--foreground-default);
    margin-top: 1.8em;
    margin-bottom: 1em;
}

h1 {
    font-size: 36px;
    font-weight: normal;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 18px;
    line-height: 1.45em;
    margin: 1em 0;
}

@media only screen and (min-width: 600px) {
    .overlay {
        max-width: 740px;
    }

    h1,
    h2,
    h3 {
        margin-top: .8em;
        margin-bottom: .4em;
        font-weight: normal !important;
    }

    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 32px;
    }

    p {
        font-size: 20px;
        margin: .4em;
    }
}

/* HEADER */

header a {
    text-decoration: none;
    font-size: 20px;
}

header a:hover {
    text-decoration: underline;
}

header .overlay,
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

header {
    background: var(--background-default);
    height: 100px;
}

.home {
    font-weight: bold;
    margin-right: 24px;
}

nav a {
    margin-right: 12px;
    font-weight: normal;
}

/* FOOTER */

footer .overlay {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 32px;
}

footer .left {
    font-style: italic;
}

footer .right {
    height: 1em;
}

footer .right .square {
    display: inline-block;
    height: 1em;
    width: 1em;
    background: var(--foreground-default);
}

/* HOME */

.type-home h1 {
    font-weight: bold;
}

.type-home  main {
    margin-top: 52px;
}

/* SINGLETON */

main {
    overflow: hidden;
}

.hero {
    background: var(--background-default);
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 36px;
}

.hero h1 {
    margin-top: 0;
}

.meta {
    color: var(--foreground-light);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.meta-item {
    width: 0;
    flex-grow: 1;
    text-align: left;
}

p img {
    margin: 28px 0;
    width: 100%;
    max-width: 600px;
}

@media only screen and (max-width: 600px) {
    p img {
        width: 100vw;
        max-width: unset;
        position: relative;
        top: 0;
        left: -16px;
    }
}
