<!DOCTYPE html>

<head>
	{{ partial "head.html" }}

	<title>{{ if .Title }}{{ .Title }}{{ else }}main{{ end }}</title>
	<link rel="canonical" href="{{ .Permalink }}" />
</head>

<body class="type-{{ .Kind }}">
	{{ partial "header.html" }}

	{{ block "main" . }}
	{{ end }}

	{{ partial "footer.html" }}

	{{ if .Params.Math }}
	<script>
		window.MathJax = {
			tex: {
				inlineMath: [['\\(', '\\)']]
			},
			svg: {
				fontCache: 'global'
			}
		};
	</script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
	{{ end }}
</body>
