<!DOCTYPE html>

<head>
	{{ partial "head.html" }}

	<title>{{ if .Title }}{{ .Title }}{{ end }} | Ink</title>
	{{ if .Params.Canonical }}
	<link rel="canonical" href="{{ .Params.Canonical }}" />
	{{ else }}
	<link rel="canonical" href="{{ .Permalink }}" />
	{{ end }}
</head>

<body class="type-{{ .Kind }}">
	{{ partial "header.html" }}

	{{ block "main" . }}
	{{ end }}

	{{ partial "footer.html" }}

	{{ if .Params.Math }}
	<script>
		window.MathJax = {
			tex: {
				inlineMath: [['\\(', '\\)']]
			},
			svg: {
				fontCache: 'global'
			}
		};
	</script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
	{{ end }}
</body>
