{{ define "main" }}

<main aria-role="main">
    <div class="hero inverted">
        <div class="overlay">
            <h1>{{ .Title }}</h1>
        </div>
        <div class="meta overlay">
            <div class="meta-item date" itemprop="datepublished">{{ .Date.Format "2 January 2006" }}</div>
            <div class="meta-item readtime" itemprop="duration">{{ .ReadingTime }} mins</div>
        </div>
    </div>
    <article class="overlay">
        {{ if .Params.Toc }}
        <details class="toc" open>
            <summary>
                <div class="toc-title">Contents</div>
            </summary>
            {{ .TableOfContents }}
        </details>
        {{ end }}

        {{ .Content }}
        <hr/>
        <p class="prevInSection">
            {{ if .PrevInSection }}
            &larr;
            <a href="{{ .PrevInSection.Permalink }}"><em>{{ .PrevInSection.Title }}</em></a>
            {{ end }}
        </p>
        <p class="nextInSection">
            {{ if .NextInSection }}
            <a href="{{ .NextInSection.Permalink }}"><em>{{ .NextInSection.Title }}</em></a>
            &rarr;
            {{ end }}
        </p>
    </article>
</main>

{{ end }}
